@import url(login.html);
body{
    background-color: #f5f5f5;
    margin: 50px auto;
    font-family: Lexend Deca;

}
#divgrandona{
    margin-top: -50px;
    height: 100%;
    width: 50%;
    position: fixed;
    display: flex;
    flex-direction: row;
    margin-right: 50%;
}
#txtlogin{
    font-size: 65px;
    position: absolute;
    margin-top: 100px;
    margin-left: 240px;
    font-family: Lexend Deca;

}
#cpf{
    font-size: 20px;
    position:relative;
    margin-top: 230px;
    margin-left: 80px;
    height:44px ;
    width:500px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;

}
#senha{
    font-size: 20px;
    position:relative;
    margin-top: 20px;
    margin-left: 80px;
    height:44px ;
    width:500px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;

}
#linksenha{
    text-decoration: none;
    margin-left: 80px;
    color: gray;
    font-family: Lexend Deca;
}
#linksenha:hover{
    color: black;
}
#categoria{
    font-size: 20px;
    position:relative;
    margin-top: 10px;
    margin-left: 80px;
    height:47px ;
    width:508px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;
    
}
#linkcad{
    text-decoration: none;
    margin-left: 80px;
    color: gray;
    font-family: Lexend Deca;

}
#linkcad:hover{
    color: black;
}
#botaoe{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 260px;
    width: 125px;
    transition: transform .2s;
    height: 45px;
    background-color: #001233;
    color: #f5f5f5;
    font-family: Lexend Deca;
}
#botaoe:hover{
    transform: scale(1.03);
}
#divgrandona2{
    position: relative;
    background-color: #001233;
    margin-top: -50px;
    float: right;
    height: 749px;
    width: 50%;
    border-color: black;
    border-style: solid;
    transition: left 0.5s ease;

}
#divgrandona3{
    margin-top: -70px;
    height: 100%;
    width: 50%;
    margin-left: 50%;
    position: fixed;
}
#txtcada{
    font-size: 65px;
    position: absolute;
    margin-top: 100px;
    margin-left: 255px;
    font-family: Lexend Deca;
}
#nome{
    font-size: 20px;
    position:relative;
    margin-top: 230px;
    margin-left: 130px;
    height:40px ;
    width:305px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;

}
#categorias{
    font-size: 20px;
    position:relative;
    margin-left: 10px;
    height:40px ;
    width:180px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;

}
input[type="checkbox"] {
    font-family: Lexend Deca;
    margin-top: 10px;
    margin-left: 80px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px;
    background-color: #ccc;
    border-radius: 4px;
    cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: #001233;
}
#cpf2{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 130px;
    height:40px ;
    width:500px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;
}
#tel{
    font-family: Lexend Deca;
    font-size: 20px;
    position:relative;
    margin-top: 20px;
    margin-left: 130px;
    height:40px ;
    width:235px ;
    border-color: white;
    box-shadow: 2px 2px  gray;

}
#data{
    font-family: Lexend Deca;
    font-size: 20px;
    position:relative;
    margin-top: 20px;
    margin-left: 20px;
    height:40px ;
    width:235px ;
    border-color: white;
    box-shadow: 2px 2px  gray;

}
#endereço{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 130px;
    height:40px ;
    width:500px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;

}
#senha2{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 130px;
    height:40px ;
    width:500px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;

}
#confsenha{
    font-size: 20px;
    margin-top: 20px;
    margin-left: 130px;
    height:40px ;
    width:500px ;
    border-color: white;
    box-shadow: 2px 2px  gray;
    font-family: Lexend Deca;

}
#btncadastro{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 310px;
    width: 125px;
    transition: transform .2s;
    height: 45px;
    background-color: #001233;
    color: #f5f5f5;
    font-family: Lexend Deca;
}
#btncadastro:hover{
    transform: scale(1.03);
}
.imglogo{
    margin-top: 100px;
    margin-left: 95px;

}
#voltar{
    position: absolute;
    width: 100px;
    height: 45px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #001233;
    color: #f5f5f5;
    font-size: 20px;
    transition: transform .2s;
    font-family: Lexend Deca;
}
#voltar:hover{
    transform: scale(1.03);
    
}
#voltar2{
    position: absolute;
    width: 100px;
    height: 45px;
    background-color: #001233;
    color: #f5f5f5;
    font-size: 20px;
    transition: transform .2s;
    margin-top: 35px;
    margin-left: 30px;
    font-family: Lexend Deca;
}
#voltar2:hover{
    transform: scale(1.03);
    
}
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    text-align: center;
    font-family: Lexend Deca;
  }
.redirectCheckbox{
    margin-bottom: -4px;
    font-family: Lexend Deca;
}
