@import url(consultas.html);
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #023E7D;
    box-shadow:-1px 5px 4px gray;
  }
  
  .topnav a {
    position: relative;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 28px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    position: relative;
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    position: relative;
    color: white;
  }
  
  .txt{
    color: white;
    text-decoration: none;
    width: 150px;
    height: 50px;
  }
  
  button.login{
    background-color: #023E7D;
    width: 150px;
    height: 50px;
    font-size: 20px;
    box-shadow:2px 4px 3px black;
    text-align: center;
    margin-top: 40px;
    margin-right: 30px;
    float: right;
    color: black;
  }
  
  button.login:hover{
    background-color: #ddd;
    color: black;
  }
  .txt:hover{
    color:black;
  }
  
  .logoimg{
    width: auto;
    height:199px;
  }
  .fundog{
    position: relative;
    background-color: #001233;
    
  }
  .quadpesq{
    position:absolute;
    padding: 6px 10px;
    margin-top: 70px;
    margin-left: 200px;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
  .pesq{
    padding: 6px 10px;
  }
  #divBusca{
    position: relative;
    background-color: #f5f5f5;
    border:solid 2px #023E7D;
    border-radius:10px;
    width:300px;
    height:32px;
    box-shadow:3px 5px 4px black;
  }
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  .imglupa{
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 50px;
    margin-top: 7px;
  }
  #instagram{
    position: absolute;
    margin-bottom: 5px;
    margin-left: 1150px;
  
  }
  #facebook{
    position: absolute;
    margin-bottom: 5px;
    margin-left: 1220px;
  }
  
  #twitter{
    position: absolute;
    margin-bottom: 5px;
    margin-left: 1280px;
  }
  #whatsapp{
    position: absolute;
    margin-bottom: 5px;
    margin-left: 1340px;
  }
  
  
  .instagram{
    background: #c32aa3;
    }
    .box{
      width: 55px;
      height: 48px;
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      padding: 5px;
      cursor: pointer;
      margin: 0.6em;
      transition: all .4s;
      }
      .box:hover{
      width: 160px;
      background: #c32aa3;
      border-radius: 10px;
      color: white;
      box-shadow: 0 0 50px #b315917c;
      }
      .box:nth-child(2):hover{
      background: #1877f2;
      box-shadow: 0 0 50px #1876f285;
      }
      .box:nth-child(3):hover{
      width: 130px;
      background: #1da1f2;
      box-shadow: 0 0 50px #1da0f280;
      }
      .box:nth-child(4):hover{
      background: #25d366;
      box-shadow: 0 0 50px #25d3657e;
      }
      p{
      transform: translate(60px);
      }
      .box .icon{
      position: absolute;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      margin-right: 10px;
      transition: all .4s;
      }
      .instagram{
      background: #c32aa3;
      }
      .facebook{
      background: #1877f2;
      }
      .twitter{
      background: #1da1f2;
      }
      .whatsapp{
      background: #25d366;
      }
      .box:hover .icon{
      background: white;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
      color: rgb(59, 59, 59);
      
      }
  #rodape{
    bottom: 0px;
    position: relative;
    height: 80px;
    width: auto;
    background-color: #001233;
  }
  #zapicon{
    height: 30px;
    width: 30px;
  }