@import url(login.html);
body{
    background-color: #f5f5f5;
}
.divgrandona{
    position: absolute;
    display: flex;
    flex-direction: row;
}
#logo{
    float: right;
}
#login{ 
    background-color: #f5f5f5;
    margin-left: -10px;
    margin-top: -10px;
    border-color: black;
    border-style: solid;
    width:680px ;
    height:750px ;
    text-decoration: underline;
}
#textlogin{
    text-align: center;
    font-size: 64px;
    margin:90px;
    margin-left: -10px;
}
#cpf{
    border-style: none;
    font-size: 25px;
    margin-left: 30px;
    margin-top: 30px;
    height: 50px;
    width: 480px;
    box-shadow: 5px 5px 5px gray;
}
#senha{
    font-size: 25px;
    margin-left: 30px;
    height:50px ;
    width:480px ;
    box-shadow: 5px 5px 5px gray;
    border-style: none;
}
#categ{
    font-size: 25px;
    margin-left: 30px;
    margin-top: 10px;
    height:60px ;
    width:484px ;
    box-shadow: 5px 5px 5px gray;
    border-style: none;
}
button{
    height: 40px;
    width: 100px;
    margin-top: 20px;
    margin-left: 230px;
    color: #f5f5f5;
    background-color: #001233;
}
#link{
    margin-top: 20px;
    margin-left: 180px;
    
}

#colaborador{
    margin-top: -10px;
    margin-left: 168px;
    border-color: black;
    border-style: solid;
    width:680px ;
    height:750px ;
    font-size: xx-large;
}
#colabcpf{
    margin-top: 30px;
}
#senha{
    margin-top: 10px;
}
