@import "Homepage";
body {
  position: relative;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #023E7D;
  box-shadow:-1px 5px 4px gray;
}

.topnav a {
  width: 200px;
  margin-left: 122px;
  position: relative;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  position: relative;
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  position: relative;
  color: white;
}
.login{
  position: absolute;
  background-color: #023E7D;
  margin-top: 25px;
  margin-left: 1300px;
  width: 150px;
  height:40px ;
  text-align: center;
  box-shadow:3px 5px 4px black;
}
.login a{
  font-size: 25px;
  text-decoration: none;
  color: #f5f5f5;
}
.login:hover{
  background-color: #f5f5f5;
}
.login:hover a{
  color: black;
}
.logoimg{
  width: auto;
  height:199px;
}
.fundog{
  position: relative;
  background-color: #001233;
  
}
.quadpesq{
  position:absolute;
  padding: 8px 16px;
  margin-top: 70px;
  margin-left: 200px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.pesq{
  padding: 8px 16px;
}
#divBusca{
  position: relative;
  background-color: #f5f5f5;
  border:solid 2px #023E7D;
  border-radius:10px;
  width:300px;
  height:32px;
  box-shadow:4px 6px 5px black;
}
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
}
.imglupa{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 50px;
  margin-top: 7px;
}
#img1{
  border-radius: 8px;
  position: relative;
  margin-left: 30px;
  margin-top:20px;
  box-shadow:3px 5px 4px gray;
  height: 600px;
  width: 470px;
}
.txtimg1{
  text-align: center;
  background-color: transparent;
  color: #f5f5f5;
  font-size: x-large;
  padding: 35px 25px;
  position: absolute;
  border-color: #f5f5f5;
  border-style: solid;
  margin-left: -453px;
  margin-top: 470px;
}

#img2{
  border-radius: 8px;
  position: relative;
  height: 600px;
  width: 470px;
  margin-left:30px;
  margin-top: 20px;
  box-shadow:3px 5px 4px gray;
}
.txtimg2{
  position: absolute;
  text-align: center;
  background-color: transparent;
  color: #f5f5f5;
  font-size: x-large;
  padding: 20px;
  width: 380px;
  height: 85px;
  position: absolute;
  border-color: #f5f5f5;
  border-style: solid;
  margin-left: -453px;
  margin-top: 470px;
}
#img3{
  border-radius: 8px;
  position: relative;
  margin-bottom: 207px;
  margin-left: 50px;
  width: 400px;
  height: 393px;
}
.txtimg3{
  position: absolute;
  margin-left: -377px;
  margin-top: 260px;
  text-align: center;
  background-color: transparent;
  color: #f5f5f5;
  font-size: x-large;
  padding: 20px;
  width: 310px;
  height: 85px;
  position: absolute;
  border-color: #f5f5f5;
  border-style: solid;

}
#img4{
  border-radius: 8px;
  position: relative;
  margin-bottom: 30px;
  margin-top: -187px;
  margin-left: 1058px;
}
.txtimg4{
  position: absolute;
  margin-left: -377px;
  margin-top: -158px;
  text-align: center;
  background-color: transparent;
  color: #f5f5f5;
  font-size: x-large;
  padding: 20px;
  width: 310px;
  height: 85px;
  position: absolute;
  border-color: #f5f5f5;
  border-style: solid;

}

#instagram{
  position: absolute;
  margin-bottom: 5px;
  margin-left: 1150px;

}
#whatsapp{
  position: absolute;
  margin-bottom: 5px;
  margin-left: 10px;
}
  .box{
    width: 55px;
    height: 48px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 5px;
    cursor: pointer;
    margin: 0.6em;
    transition: all .4s;
    }
    .box:hover{
    width: 160px;
    background: #c32aa3;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 50px #b315917c;
    }
    .box:nth-child(4):hover{
    background: #25d366;
    box-shadow: 0 0 50px #25d3657e;
    }
    p{
    transform: translate(60px);
    }
    .box .icon{
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-right: 10px;
    transition: all .4s;
    }
    .instagram{
    background: #c32aa3;
    }
    .whatsapp{
    background: #25d366;
    }
    .box:hover .icon{
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.26);
    color: rgb(59, 59, 59);
    
    }
#rodape{
  margin-top: 50px;
  height: 80px;
  width: auto;
  background-color: #001233;
}
#zapicon{
  height: 30px;
  width: 30px;
}
