@import "homepaciente.html";
body {
  position: relative;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: relative;
  overflow: hidden;
  background-color: #023E7D;
  box-shadow:-1px 5px 4px gray;
}

.topnav a {
  width: 180px;
  margin-left: 100px;
  position: relative;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 1px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  position: relative;
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  position: relative;
  color: white;
}
.login{
  border-radius: 8px;
  padding-top: 10px;
  position: absolute;
  background-color: #023E7D;
  margin-top: 35px;
  margin-left: 1300px;
  width: 150px;
  height:40px ;
  text-align: center;
  box-shadow:3px 5px 4px black;
}
.login a{
  font-size: 25px;
  text-decoration: none;
  color: #f5f5f5;
}
.login:hover{
  background-color: #f5f5f5;
}
.login:hover a{
  color: black;
}
.logoimg{
  width: auto;
  height:199px;
}
.fundog{
  position: relative;
  background-color: #001233;
  
}
.quadpesq{
  
  position:absolute;
  padding: 8px 16px;
  margin-top: 70px;
  margin-left: 200px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
#divBusca{
  margin-top: -30px;
  position: relative;
  background-color: #f5f5f5;
  border:solid 2px #023E7D;
  border-radius:8px 10px;
  width:430px;
  height:40px;
  box-shadow:4px 6px 5px black;
}
#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  padding-top: 6px;
  font-size:18px;
  border:none;
  height:32px;
  width:360px;
}
.imglupa{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 390px;
  margin-top: 10px;
}