body{
    background-color: #f5f5f5;
    font-family: 'Lexand Deca',sans-serif;
}
#voltar{
    width: 100px;
    height: 45px;
    margin-top: 15px;
    margin-left: 30px;
    background-color: #001233;
    color: #f5f5f5;
    font-size: 20px;
    transition: transform .2s;
    box-shadow: 2px 2px 2px lightgray;
}
#voltar:hover{
    transform: scale(1.03);
}
#divgrandona{
    position: absolute;
    width: 50%;
    height: 755px;
    margin-top: -10px;
    margin-left: 760px;
    background-color: #001233;
}
#consulta{
    position: relative;
    margin: 30px;
    background-color: white;
    height: 507px;
    width: 450px;
    box-shadow: 15px 15px 0px #023E7D;
}
#txtconsulta{
    font-family: 'Lexand Deca',sans-serif;
    font-size: 35px;
    padding-top: 25px;
    text-align: center;
}
#nameInput{
    font-size: 20px;
    font-family: 'Lexand Deca',sans-serif;
    border-style: solid;
    width: 510px;
    height: 70px;
    margin-left: -40px;
    margin-top: 20px
}
#medicalselect{
    font-size: 20px;
    font-family: 'Lexand Deca',sans-serif;
    border-style: solid;
    width: 515px;
    height: 70px;
    margin-left: -40px;
    margin-top: 20px
}
#txtmedico{
    
    margin: 10px;
    text-align: left;
    font-size: 25px;
}
#phoneInput{
    font-size: 20px;
    font-family: 'Lexand Deca',sans-serif;
    border-style: solid;
    width: 507px;
    height: 70px;
    margin-left: -40px;
    margin-top: 20px

}
#emailInput{
    font-family: 'Lexand Deca',sans-serif;
    font-size: 20px;
    border-style: solid;
    width: 510px;
    height: 70px;
    margin-left: -40px;
    margin-top: 20px
}
#txthora{
    margin: 10px;
    text-align: left;
    font-size: 25px;
}

#cancel{
    font-size: 25px;
    color: white;
    background-color: #023E7D;
    margin-left: 120px;
    margin-top: 40px;
    height: 55px;
    width: 205px;
    transition: transform .1s;
}
#cancel:hover{
    cursor: pointer;
    transform:scale(1.03);
}
#txt1{
    margin-top: 30px;
    margin-left: 30px;
    width: 400px;
    text-align: center;
}
#agenda{
    text-align: center;
    margin-top: -537px;
    width: 657px;
    height: 100px;
    margin-left: 700px;
    border-style: solid;
    box-shadow:4px 4px 4px lightgray;
    transition: 1s;
}
#txtagenda{
    font-weight: 20;
    padding-top: 10px;
    padding-left: 150px;
    font-size: 50px;
}
#agenda:hover{
    cursor: pointer;
    background-color:#e6f3fe;
    transform:scale(1.03);

}
#caixas{
    margin-left: 120px;
}
#img{
    
    position:absolute;
    margin-top: 30px;
    width: 600px;
    height: 650px;
    margin-left: 90px;
}
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
  }
  
  .popup {
    border: 5px solid #001233;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    padding: 20px;
    width: 700px;
    height: auto;
    animation: popup-animation 0.5s;
  }
  
  @keyframes popup-animation {
    0% {
      transform: translate(-50%, -50%) scale(0.7);
      opacity: 0;
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }
#btnagenda{
    font-size: 20px;
    margin-left: 180px;
    height: 60px;
    width: 300px;
    transition: transform 0.4s;
    background-color: #f5f5f5;
    border-style: none;
    box-shadow: 2px 2px 2px 2px lightgray;
}
#btnagenda:hover{
    background-color: #001233;
    color: #f5f5f5;
    cursor: pointer;
    transform: scale(1.05);
}
#x{
    border-radius: 4px ;
    background-color: transparent;
    border-style: none;
}
#x:hover{
    background-color: lightgray;
}